@page "/saveLocalStorage"
@rendermode InteractiveServer
@using BlazorAppDemo2022.Components.Data

<input value="@text" @oninput="OnInput" />
<button @onclick="Clear">クリア</button>

<p>入力内容: @text</p>

@code {
    private string text = "";

    [Inject]
    private LocalStorageService Storage { get; set; } = default!;

    /// <summary>
    ///   値を入力するたびにLocalStoragenに保存します。
    ///   入力値保持時間は1時間です。
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnInput(ChangeEventArgs e)
    {
        text = e.Value?.ToString() ?? "";
        await Storage.SetAsync("formData", text, TimeSpan.FromHours(1));
    }

    /// <summary>
    ///   UIが更新するたびに値を復元するか否か判断します。
    ///   初めて呼び出された場合かつLocalStorageへの保存期間が過ぎていない場合、保持していた値を再レンダリングします。
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // 初めてこのメソッドが呼び出された場合
        if (firstRender)
        {
            // 過去の保存期間が過ぎているかチェック
            var saved = await Storage.GetAsync<string>("formData");
            if (saved != null)
            {
                text = saved;
                StateHasChanged();
            }
        }
    }

    /// <summary>
    ///   LocalStorage内に保存していた値を削除し、UIからも値を削除します。
    /// </summary>
    /// <returns></returns>
    private async Task Clear()
    {
        await Storage.DeleteAsync("formData");
        text = "";
    }
}